@import "../../../../assets/sass/components/variables.bootstrap";
@import "../../../../assets/sass/components/variables_ext_custom";

.modal-header {
    padding: 0.7rem 1.75rem;
}

.delete-modal {
    &__content {
        font-size: 14px !important;
        word-break: break-word;
    }

    &__svg-delete {
        transform: scale(1.2);
        margin-bottom: 30px;
        margin-top: 15px;

        &::before {
            content: url("../../../../assets/media/svg/icons/Common/Circle-x.svg");

        }
    }
}
