.status { 
    font-weight: bolder; 
    font-size: 13px;
    margin: 0px !important;
  } 
  
  .new {
    color: #828282;
  }
  
  
  .cancelled {
    color: #EB5757;
  }
  
  .closed {
    
  }
  
  .importing {
  
  }
  
  .imported {
  
  }