:host {
  width: 100%;
  @media (min-width: 992px) {
    .login-form {
      width: 100%;
      max-width: 450px;

      .mat-form-field {
        width: 100%;
      }
    }
  }
}

.field-icon {
  float: right;
  left: -15px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
}

.fa-eye {
  color: #4C8C03;
}

.form-control-solid {
  &.is-invalid {
    background-image: none !important;
  }
}

.btn {
  font-size: 1.1rem;
}

.input-login:hover {
  border: 1px solid #5D37A2;
}

#kt_login_forgot {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #5D37A2;
}

.btn-login {
  background-color: #5D37A2 !important;
  border-color: #5D37A2 !important;

  color: #FFFFFF;
}

.btn-login:hover {
  background-color: #4B2D83 !important;
  border-color: #4B2D83;
}

.text-or {
  font-weight: 700;
  font-size: 12px;

  color: #828282;
}

.social-media-link {

  border-radius: 50%;
  overflow: hidden;
  display:inline-block;
  vertical-align:middle;

  background: #FFFFFF;
  width: 40px;
  height: 40px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.14); 

  .item-img {
    padding: auto;

  }
  .icon-img {
    // width: 100%;
    height: auto;
  }
}