// .btn-delete-item {
//     background-color: #F2F2F2 !important;
// }

// .btn-delete-item:hover {
//     color: #3F4254 !important;
// }
// .btn-remove:hover .svg-icon svg > path {
//     fill: #3F4254 !important;
// }