.card-subHeader {
    padding: 0 !important;
    border: none !important;
}

.card-subBody {
    padding: 0 !important;
}

.list-group li {
    padding: 7px 0 7px 0 !important;
}

.card-container {
    padding: 8px;
}

.text-label-listCard {
    color: #828282;
}

.btn-detail {
    color: #27AE60;
    background-color: #fff;
    border: 1px solid #27AE60;
}