<div class="loading-overlay" *ngIf="(householdService.isLoading$ | async)">Loading&#8230;</div>
<div class="card card-custom gutter-b shadow-none">
    <div class="card-header card-subHeader d-flex align-items-center">
        <div class="card-body card-subBody" style="cursor: default">
            <h3 class="card-label text-user"
                style="font-size: 16px !important; font-weight: 500; font-weight: 500 !important;">Danh sách thửa ruộng
            </h3>
            <p class="card-subtitle mt-2 " style="color: #27AE60;">{{ totalField }} thửa ruộng</p>
        </div>
        <div class="card-toolbar">
            <button type="button" class="btn btn-primary get-data btn-elevate" [routerLink]="'/'">
                <i class="ki ki-plus icon-sm"></i>
                Thêm thửa ruộng</button>
        </div>
    </div>
    <div class="card-body card-subBody">
        <div class="row">
            
            <ng-container *ngFor="let field of fields;">
                <div class="col-6 mt-5">
                    <div class="card">
                        <div class="card-container">
                            <div class="row">
                                <div class="col">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item border-0">
                                            <div class="row m-0 d-flex align-items-center">
                                                <label class="col-4 d-flex align-items-center m-0 text-label-listCard">Thửa đất số:</label>
                                                <div class="col-lg-8 col-xl-8">
                                                    <label class="d-flex align-items-center m-0 font-weight-bold"
                                                        style="color: #27AE60;">. . .</label>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item border-0">
                                            <div class="row m-0 d-flex align-items-center">
                                                <label class="col-4 d-flex align-items-center m-0 text-label-listCard">Bản đồ số:</label>
                                                <div class="col-lg-8 col-xl-8">
                                                    <label class="d-flex align-items-center m-0">. . .</label>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item border-0">
                                            <div class="row m-0 d-flex align-items-center">
                                                <label class="col-4 d-flex align-items-center m-0 text-label-listCard">Diện tích:</label>
                                                <div class="col-lg-8 col-xl-8">
                                                    <label class="d-flex align-items-center m-0">. . .</label>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item border-0">
                                            <div class="row m-0 d-flex align-items-center">
                                                <label class="col-4 d-flex align-items-center m-0 text-label-listCard">Địa chỉ:</label>
                                                <div class="col-lg-8 col-xl-8">
                                                    <label class="d-flex align-items-center m-0">. . .</label>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-3">
                                    <div class="d-flex justify-content-end">
                                        <button type="button" class="btn btn-primary btn-detail mt-2 mr-2" [routerLink]="'/'">Xem chi tiết</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>


            <div class="col-6 mt-5">
                <div class="card">
                    <div class="card-container">
                        <div class="row">
                            <div class="col">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item border-0">
                                        <div class="row m-0 d-flex align-items-center">
                                            <label class="col-4 d-flex align-items-center m-0 text-label-listCard">Thửa đất số:</label>
                                            <div class="col-lg-8 col-xl-8">
                                                <label class="d-flex align-items-center m-0 font-weight-bold"
                                                    style="color: #27AE60;">. . .</label>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item border-0">
                                        <div class="row m-0 d-flex align-items-center">
                                            <label class="col-4 d-flex align-items-center m-0 text-label-listCard">Bản đồ số:</label>
                                            <div class="col-lg-8 col-xl-8">
                                                <label class="d-flex align-items-center m-0">. . .</label>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item border-0">
                                        <div class="row m-0 d-flex align-items-center">
                                            <label class="col-4 d-flex align-items-center m-0 text-label-listCard">Diện tích:</label>
                                            <div class="col-lg-8 col-xl-8">
                                                <label class="d-flex align-items-center m-0">. . .</label>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item border-0">
                                        <div class="row m-0 d-flex align-items-center">
                                            <label class="col-4 d-flex align-items-center m-0 text-label-listCard">Địa chỉ:</label>
                                            <div class="col-lg-8 col-xl-8">
                                                <label class="d-flex align-items-center m-0">. . .</label>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-3">
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-primary btn-detail mt-2 mr-2" [routerLink]="'/'">Xem chi tiết</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>