.span-success{
    color : #0BB7AF !important;
}

.text-suggest{
    padding-left: 14px;
}

.field-icon {
    float: right;
    left: -15px;
    margin-top: -33px;
    position: relative;
    z-index: 2;
}

.field-icon::before {
    font-size: 14px;
}