<div class="loading-overlay"
  *ngIf="(isLoading$ | async)">Loading&#8230;</div>
<ng-container>
  <div class="card card-custom"
    [formGroup]="formGroup">
    <!--begin::Header-->
    <div class="card-header py-3">
      <div class="card-title align-items-start flex-column">
        <h3 class="card-label font-weight-bolder text-dark">Đổi mật khẩu</h3>
        <span class="text-muted font-weight-bold font-size-sm mt-1">Thay đổi mật khẩu của bạn</span>
      </div>
      <div class="card-toolbar">
        <button type="submit"
          class="btn btn-primary mr-2"
          (click)="save()">Lưu</button>
      </div>
    </div>
    <!--end::Header-->
    <!--begin::Form-->
    <div class="form">
      <div class="card-body">
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label text-alert font-weight-bold">Mật khẩu mới</label>
          <div class="col-lg-9 col-xl-6">
            <input [type]="showPasswordNew ? 'text' : 'password'"
              class="form-control mb-2"
              placeholder="Mật khẩu mới"
              autocomplete="off"
              (ngModelChange)="onChange($event)"
              formControlName="newPassword"
              [class.is-invalid]="isControlInvalid('newPassword')" />
            <span (click)="showPasswordNew = !showPasswordNew"
              class="fa fa-fw field-icon toggle-password"
              [ngClass]="(showPasswordNew)?' fa-eye':' fa-eye-slash'"></span>
            <app-validation-error [field]="'Mật khẩu mới'"
              [submitted]="isControlInvalid('newPassword')"
              [control]="formGroup.controls.newPassword">
            </app-validation-error>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label text-alert font-weight-bold">Xác nhận lại mật khẩu mới</label>
          <div class="col-lg-9 col-xl-6">
            <input [type]="showPasswordConfirm ? 'text' : 'password'"
              class="form-control mb-2"
              placeholder="Xác nhận mật khẩu mới"
              autocomplete="off"
              formControlName="confirmNewPassword"
              [class.is-invalid]="isControlInvalid('confirmNewPassword')" />
            <span (click)="showPasswordConfirm = !showPasswordConfirm"
              class="fa fa-fw field-icon toggle-password"
              [ngClass]="(showPasswordConfirm)?' fa-eye':' fa-eye-slash'"></span>
            <div class="required-field d-block"
              *ngIf="controlHasError('ConfirmPassword', 'confirmNewPassword')">Mật khẩu và Xác nhận mật khẩu không giống
              nhau</div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="offset-lg-3 col-lg-9">
              <span class="text-suggest text-muted"
                [ngClass]="{'span-success': hasMinLength}">Ít nhất 6 kí tự</span>
              <span *ngIf="hasMinLength"
                class="ml-17 span-success">
                <mat-icon class="align-middle">check</mat-icon>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="offset-lg-3 col-lg-9">
              <span class="text-suggest text-muted"
                [ngClass]="{'span-success': hasUppercase}">Ít nhất 1 kí tự viết hoa</span>
              <span *ngIf="hasUppercase"
                class="ml-3 span-success">
                <mat-icon class="align-middle">check</mat-icon>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="offset-lg-3 col-lg-9">
              <span class="text-suggest text-muted"
                [ngClass]="{'span-success': hasSpecialChar}">Ít nhất 1 kí tự đặc biệt</span>
              <span *ngIf="hasSpecialChar"
                class="ml-3 span-success">
                <mat-icon class="align-middle">check</mat-icon>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end::Form-->
  </div>
</ng-container>