.btn-custom-add {
    position: relative;
    top: 25px;
    border: 1px solid #cbe4fd;
}

.btn-custom-danger {
    width: 40px;
    height: 40px;
}

.btn-custom-close {
    position: absolute;
    left: 80%;
    top: 3px;

    .ki-bold-close:hover {
        color: #d0021b;
    }
}

.table-custom {
    table-layout: fixed;
    white-space: nowrap;
    &.resizing {
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: col-resize;
    }
}

td {
    span {
        word-wrap: break-word;
        white-space: pre-line;
    }
}
