.icon {
  font-size: 25px;
}
.icon-1 {
  color: #FF7F7F;
}
.icon-2 {
  color: #FAA122;
}
.icon-3 {
  color: #27D827;
}
.icon-4 {
  color: #0059C9;
}
.icon-5 {
  color: #27D827;
}
.icon-6 {
  color: #D72F2F;
}
.icon-7 {
  color: #7A7A7A;
}
