@media (max-width: 767px) {
  .col-md-4 {
    margin-top: 10px;
  }
}

:host ::ng-deep .mat-expansion-panel-header {
  padding: 0px 4px;
}

:host ::ng-deep .mat-expansion-indicator {
  left: -40%;
  position: relative;

  &::after {
    color: #b5b5c3;
  }
}

:host ::ng-deep .mat-expansion-panel-body {
  padding-left: 0;
  padding-right: 0;
}

.mat-expansion-panel-header:hover {
  background: rgb(132 132 132 / 4%);
}

.mat-expansion-panel-header {
  height: 40px;
}

::ng-deep .mat-datepicker-toggle {
  position: absolute;
  right: 12px;
}

.btn.btn-primary.get-data {
  color: #ffffff;
  background-color: #6ba425;
  border-color: #6ba425;
}

.get-data:hover {
  color: #ffffff;
  background-color: #57901b !important;
  border-color: #57901b !important;
}

.get-data:active {
  color: #ffffff;
  background-color: #57901b !important;
  border-color: #57901b;
}

.card-btn-add {
  background-color: #6ba425;
  border-color: #6ba425;
  color: #ffffff;
}
.card-btn-add:hover {
  color: #ffffff !important;
  background-color: #57901b !important;
  border-color: #57901b !important;
}

.ki.ki-plus.icon-sm {
  color: #ffffff !important;
}

.card-body {
  padding-left: 0;
}

.table-header {
  padding-left: 0;
}


.status { 
  font-weight: bolder; 
  font-size: 13px;
  margin: 0px !important;
} 


.cancel {
  color: #EB5757;
}

.closed {
  color: #57901b;
}

.new {
  color: #828282;
}

.assigning {

}

.specified {
  
}

.preparing {

}

.ordered {

}

.arranging {

}

.arranged {

}

.packing {

}

.packed {

}

.shipping {

}

.shipped {

}