<a title="Sửa" class="btn btn-icon btn-primary m-1 btn-sm" style="border-color: #e8e8e8"
    [routerLink]="'/warehouse/supplier/edit/' + prop.code">
    <span [inlineSVG]="'./assets/media/svg/icons/Common/Pencil-alt.svg'" cacheSVG="true"
        class="svg-icon svg-icon-sm svg-icon-primary">
    </span>
</a>

<a title="Xóa" class="btn btn-icon btn-danger m-1 btn-sm" style="border-color: #e8e8e8" (click)="delete(prop)">
    <span [inlineSVG]="'./assets/media/svg/icons/Common/Trash.svg'" cacheSVG="true"
        class="svg-icon svg-icon-sm svg-icon-danger">
    </span>
</a>