<ul class="nav nav-tabs nav-tabs-line mb-5" role="tablist" *ngIf="comments && comments.length > 0">
  <li class="nav-item cursor-pointer">
    <a class="nav-link" data-toggle="tab" role="tab" [attr.aria-selected]="true" [class.active]="true">
      Activity
    </a>
  </li>
</ul>
<table class="table table-bordered table-vertical-center" *ngIf="comments && comments.length > 0">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên</th>
      <th scope="col">Nội dung</th>
      <th scope="col">File đính kèm</th>
      <th scope="col">Thời gian</th>
      <th scope="col">Trạng thái</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let comment of comments; let i = index">
      <td>{{ i + 1 }}</td>
      <td scope="row"><a [href]="'/users/detail/' + comment.createdBy?.id"
          class="font-weight-bold text-hover-primary mb-1 cursor-pointer">{{
          comment.createdBy?.usernameFull }}</a></td>
      <td [innerHTML]="comment.content"></td>
      <td>
        <div *ngFor="let file of (comment.fileInvolved || [] )" style="word-break: break-all;">
          <a [href]="file.filePath" target="_blank">{{ file.name }}</a>
        </div>
      </td>
      <td>{{ comment.dateCreated | date: 'dd/MM/yyyy HH:mm' }}</td>
      <td>{{ comment.stepsReview?.stepsReviewName }} {{ comment.reviewStatus?.reviewStatusName }}</td>
    </tr>
  </tbody>
</table>