:host {
  width: 100%;
  @media (min-width: 992px) {
    .login-form {
      width: 100%;
      max-width: 450px;

      .mat-form-field {
        width: 100%;
      }
    }
  }
}

.btn {
  font-size: 1.1rem;
}

.input-login:hover {
  border: 1px solid #90C837;
}

.btn-login {
  background-color: #6BA425 !important;
  border-color: #6BA425 !important;

  color: #FFFFFF;
}

.btn-login:hover {
  background-color: #57901B !important;
  border-color: #57901B;
}

.back-login {
  position: absolute;
  top: 5%;
  left: 5%;

  border: 1px solid #E0E0E0; 
  border-radius: 50%;
  padding: 10px 13px 7px 13px;

  cursor: pointer;
}

.back-login:hover {
  i {
    color: #6BA425;
  }
}