.btn-product-infor {
    background-color: #fff;
    text-align: left;
    height: 30px;    
}
.btn-product-infor label {
    font-size: 14px; 
    font-weight: 500;
    color: #828282;
}
.btn-product-infor:hover {
    opacity: 0.8;
}
.btn-product-infor-active {
    border-bottom: 2px solid #6BA425;
}
.btn-product-infor-active label {
    color: #6BA425 !important;
}


.btn-manual {
    background-color: #fff;
    height: 30px;
    margin-left: 30px;
}
.btn-manual label {
    font-size: 14px; 
    font-weight: 500;
    color: #828282;
}
.btn-manual:hover {
    opacity: 0.8;
}
.btn-manual-active {
    border-bottom: 2px solid #6BA425;
}
.btn-manual-active label {
    color: #6BA425 !important;
}

.form-label {
    color: #828282;
}

.form-group {
    margin-bottom: 0;
}

p.col.d-flex.align-items-center.fw-bold {
    font: Roboto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #333333;
}

.avatar-upload .avatar-preview {
    width: 350px;
    height: 350px;
    position: relative;
    overflow: hidden;
    border: 12px solid #fff;
}
  
.avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.font-weight-bold {
    margin: 0 !important;
}

.status { 
    font-weight: bolder; 
    font-size: 13px;
    margin: 0px !important;
  } 
  
  
  .cancel {
    color: #EB5757;
  }
  
  .close {
    
  }
  
  .new {
    color: #828282;
  }
  
  .assigning {
  
  }
  
  .specified {
    
  }
  
  .preparing {
  
  }
  
  .ordered {
  
  }
  
  .arranging {
  
  }
  
  .arranged {
  
  }
  
  .packing {
  
  }
  
  .packed {
  
  }
  
  .shipping {
  
  }
  
  .shipped {
  
  }