.card-subHeader {
    padding: 0 !important;
    border: none !important;
}

.card-subBody {
    padding: 0 !important;
}

.list-group li {
    padding: 7px 0 7px 0 !important;
}

.card-container {
    padding: 8px;
}

.text-label-listCard {
    color: #828282;
}

.avatar-preview {
    width: 50px !important;
    height: 50px !important;
}

.relationship {
    color: #6BA425;
    background: #F2F9E8;
    border-radius: 100px;
    padding: 2px 10px 2px 10px;
    font-weight: 700;
}